<div id="myHeader" class="tituloFixo"  >
    <div class="titulo-main" style="background-color:rgb(12, 235, 12);padding-top:0px;">
        <div class="" id="idTitulo" style="display: flex;flex-direction: row;background-color: #ffffff;" >
            <div id="logamarca" style="width: 33%;background-color: transparent;color:#df0707;
                                    text-align: left;padding-top: 7px;display: flex;flex-direction: row;height: 9vh;">
                <div style="width: 20%;height: 7.8vh;background-color:transparent;margin-left: 30px;">
                    <img class="imgXY" src="" alt="..." class="responsivo" width="100%" height="80" style="" class="responsive">
                </div>
            </div>
            <div id="tituloMain" class="" style="width: 34%;background-color: transparent;text-align: center;color:#325b80;height: 9vh;padding: 0.5vh;padding-top:3.5vh;">
                <h1 style="font-size:1.8vw;font-weight: lighter;color:#325b80;">{{loja.razao}}</h1>
                <input id="idLoja" value="{{loja._id}}" style="display: none;">
            </div>
            <div id="Voltar"   style="width: 33%;text-align: left;background-color: transparent;color:#ffffff;padding-top: 10px;display: flex;flex-direction: row;justify-content:end;height: 9vh;align-items: center;">
                <div style="width: 45%;height: 6vh;background-color: #ffffff;color:#ffffff;font-size: 1.5rem;float: letf;padding-top: 4px;padding: 1.5vh;">
                    <label id="pegaWidth"   style="background-color: #0453c1;color:#ffffff;width: 100px;text-align: center;display: none"; >100</label>
                    <label id="pegaHeight"  style="background-color: #07df07;color:#ffffff;width: 100px;text-align: center;display: none;" >100</label>
                </div> 
            </div>
        </div>
        {{!-- /////////////////////////////////////////////////////////////////////// --}}
        <div class="topnav" id="myTopnav" style="background-color: #c2bfbf;height: 5.5vh,color:black">
                <a href="#" class="" style="color:#325b80;">Home</a>
                <a href="#"style="color:#325b80;">Produtos</a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
        </div>
    </div>
</div> 



