<nav class="sidebar" style="background-color:#ffffff;" >
      <div id="listaSegmentosServiço" class="SegmentoLoja" >
         {{!-- ---------------------------------------------------}}
         <div id="listaSegmentos" class="SegmentoLoja" >
               <div class="lateral-left-tituloSecao" style="background-color:#02c429;height: 6vh;padding-top: 1vh;">
                     <h6 style="color: #ffffff;font-size: larger;text-align: center;">secções</h6>
               </div>
               <div style="padding-top: 1vh;background-color:transparent;height: 52vh;">
                     <ul style="width: 100%;background-color: #027b34;font-size: larger;list-style-type: none;
                                overflow-y:scroll;margin: 0;padding: 0;height: 48vh;margin: auto;">
                        {{!-- {{#each seg}}
                        <li id="numlin" style="margin: 6px;text-align: left;color:#025625" onclick="buscaSecao('{{this.seg}}')" >
                           {{this.seg}}
                        <li>  --}}
                        <li style="margin-left:6px;list-style: none;color:#ffffff">Arquitetos</li> 
                        <li style="margin-left:6px;list-style: none;color:#ffffff">Construção Civil</li>           
                        <li style="margin-left:6px;list-style: none;color:#ffffff">Engenheiros</li> 
                        <li style="margin-left:6px;list-style: none;color:#ffffff">Equipamentos</li>  
                        <li style="margin-left:6px;list-style: none;color:#ffffff">Estaleiros</li> 
                        <li style="margin-left:6px;list-style: none;color:#ffffff">Logísticas</li>   
                        <li style="margin-left:6px;list-style: none;color:#ffffff">Lojas Especializadas</li>  
                        <li style="margin-left:6px;list-style: none;color:#ffffff">Mecânica Pesada</li> 
                        <li style="margin-left:6px;list-style: none;color:#ffffff">Mineração</li> 
                        <li style="margin-left:6px;list-style: none;color:#ffffff">Profissionais</li> 
                        <li style="margin-left:6px;list-style: none;color:#ffffff">Projetos</li> 
                        <li style="margin-left:6px;list-style: none;color:#ffffff">Terraplenagem</li> 
                        <li style="margin-left:6px;list-style: none;color:#ffffff">Topografia</li>
                        <li style="margin-left:6px;list-style: none;color:#ffffff">Seguradoras</li>  
                        
                        <li style="margin-left:6px;list-style: none;color:#03491d"></li>
                        
                        
                        {{!-- {{/each}} --}}
                     </ul>
               </div>
         </div> 
         {{!-- esquerda inferior  - Lista de serviços correlatos --}}
         <div id="listaServiços" class="SegmentoServico">
               <div class="lateral-left-tituloSecao" style="background-color:#019b37;text-align: center;height: 6vh;padding-top: 1vh;margin-bottom: 2vh;">
                     <h6 style="color: #ffffff;font-size: larger;">Serviços</h6>
               </div>
               <div class="" >
                  <ul style="background-color:#038f1f;width:90%;margin: auto;padding-top:2vh;text-align:start;overflow-y:scroll;height:34vh ;font-size: larger;">
                     <li style="margin-left:6px;list-style: none;color:#03491d"></li>
                     <li style="margin-left:6px;list-style: none;color:#ffffff"></li>
                     <li style="margin-left:6px;list-style: none;color:#ffffff"></li>
                     <li style="margin-left:6px;list-style: none;color:#ffffff"></li>
                     <li style="margin-left:6px;list-style: none;color:#03491d"></li>
                     <li style="margin-left:6px;list-style: none;color:#03491d"></li>
                     <li style="margin-left:6px;list-style: none;color:#03491d"></li>
                     <li style="margin-left:6px;list-style: none;color:#03491d"></li>
                  </ul>
               </div>
         </div>
      </div>
</nav>
<script>
      //function buscaSecao(n){
      //      console.log('vr de n',n)

      //}
</script>