 <style>
     .segmento{
        width:98%;height:6.5vh;margin:auto;margin-top: 10px;border-bottom:2px solid #d40581;border-radius: 5px;
     }

     .seg-div-foto{
        width: 25%;height: 6vh;float:left;padding: 3px 6px;
     }

     .seg-div-titulo{
        width: 70%;height: 6vh;float:left;margin-left:3%;padding: 1.8vh 10px;
     }
 </style>
 <nav class="sidebar" style="width:0%;background-color:#ffffff;margin-top:7.8vh;height: 88vh;padding:3px;position: fixed;">
    
</nav>
<script>
    

    var xzero=document.getElementById("hidro");
    xzero.addEventListener("mousemove", myFunction)
    function myFunction(){
         console.log('alô!')
    }
</script>