
<nav class="" style="background-color:#ffffff;margin-top: 7.9vh;width: 18vw;height: 95vh;" >
      <div style="background-color: #038a15;margin: 0px;height: 8vh;margin-top:0px;">

      </div>
      <div id="listaSegmentosServiço"  style="background-color: #ffffff;display: flex;flex-direction: column;height: 89vh;margin-top: 1px;" >
         {{!-- ---------------------------------------------------}}
         <div id="listaSegmentos" class="" style="background-color:#ffffff;display: block;height: 44vh;" >
               <div class="lateral-left-tituloSecao" style="background-color:#023fc4;height: 6vh;padding-top: 1vh;">
                     <h6 style="color: #ffffff;font-size: larger;text-align: center;">publicidade</h6>
               </div>
               <div style="padding-top: 1vh;background-color:transparent;height: 52vh;">
                  
               </div>
         </div> 
         {{!-- esquerda inferior  - Lista de serviços correlatos --}}
         <div id="listaServiços" class="SegmentoServico" style="display: block;">
               <div class="lateral-left-tituloSecao" style="background-color:#023fc4;text-align: center;height: 6vh;padding-top: 1vh;">
                     <h6 style="color: #ffffff;font-size: larger;">publicidade ??</h6>
               </div>
               <div class="" >
                  {{!-- <ul style="background-color:#efe8ed;width:90%;margin: auto;padding-top:2vh;text-align:start;overflow-y:scroll;height:34vh ;font-size: larger;">
                     <li style="margin-left:6px;list-style: none;color:#03491d">Costureiras</li>
                     <li style="margin-left:6px;list-style: none;color:#03491d">Alfaiate</li>
                     <li style="margin-left:6px;list-style: none;color:#03491d">Sapateiro</li>
                     <li style="margin-left:6px;list-style: none;color:#03491d">Sapataria</li>
                     <li style="margin-left:6px;list-style: none;color:#03491d">Lavanderia</li>
                     <li style="margin-left:6px;list-style: none;color:#03491d">Fotografos</li>
                     <li style="margin-left:6px;list-style: none;color:#03491d">Aluguel roupa</li>
                     <li style="margin-left:6px;list-style: none;color:#03491d">Outros</li>
                  </ul> --}}
               </div>
         </div>
      </div>
</nav>
<script>
      //function buscaSecao(n){
      //      console.log('vr de n',n)

      //}
</script>