<style>
                                                    
</style>
<div class="d-flex" style="width: 100%;height: 95vh;margin-top:3.2rem;border-color: #ab0707 1px;background-color: aqua;">
    <div style="width: 100%;height: 94vh;display: flex;flex-direction: row;justify-content: space-between;background-color: blueviolet;">
        <div style="width: 10%;height: 94vh;margin: auto;background-color: chocolate;">

        </div>
         <div style="width: 890%;height: 94vh;margin: auto;background-color: #7911f8;">

        </div>
    </div>
</div>


<script>
    function limpaCxLoja(){

    }


    var p=document.getElementById("p_razao")
    console.log(p.innerHTML)
    p.addEventListener("change",function(){
        console.log('valor de p',p.innerText)
    })
 
</script>

