<div class="d-fl" style="width: 100%;height: 93vh;margin: auto;margin-top:0.2rem;background-color: aqua;">
  <div style="width: 100%;height: 93vh;margin: auto;background-color: black;display: flex;flex-direction: column;justify-content: space-evenly;">
       <div style="width: 80%;height: 6vh;margin: auto;background-color: yellow;text-align: center;">
           <h2>relatório impressão da nota</h2>
       </div>
       <div style="width: 90%;height: 35vh;margin: auto;background-color: #086a5d;display: flex;">
            <div style="width: 80%;height: 3vh;margin: auto;background-color: #086a5d;text-align:left;padding-left: 6px">
                <h2 style="font-size: 1vw;font-weight: 100;color: #ffffff;">Cliente :</h2>
            </div>
            <div style="width: 80%;height: 3vh;margin: auto;background-color: #086a5d;text-align:left;padding-left: 6px">
                <h2 style="font-size: 1vw;font-weight: 100;color: #ffffff">Endereço :</h2>
            </div>
            <div style="width: 80%;height: 3vh;margin: auto;background-color: #086a5d;text-align:left;padding-left: 6px;">
                <h2 style="font-size: 1vw;font-weight: 100;color: #ffffff">Cidade :</h2>
            </div>
            <div style="width: 80%;height: 3vh;margin: auto;background-color: #086a5d;text-align:left;padding-left: 6px">
                <h2 style="font-size: 1vw;font-weight: 100;color: #ffffff">Bairro :</h2>
            </div>
            <div style="width: 80%;height: 3vh;margin: auto;background-color: #086a5d;text-align:left;padding-left: 6px">
                <h2 style="font-size: 1vw;font-weight: 100;color: #ffffff">EStado :</h2>
            </div>
            <div style="width: 80%;height: 3vh;margin: auto;background-color: #086a5d;text-align:left;padding-left: 6px">
                <h2 style="font-size: 1vw;font-weight: 100;color: #ffffff">Cep :</h2>
            </div>
       </div>
      <div style="width: 90%;height: 35vh;margin: auto;background-color: #1e1be7;display: flex;">

      </div>
  </div>
</div>
