<div style="width: 99.5%;height: 86vh;margin-left=0px;background-color: #cccccc;margin-top:14.5vh;display: flex;
            flex-direction: row;">
  <div style="width: 15%;height:85vh;margin-left:0px;background-color: #cccccc;display: flex;
             flex-direction: column;align-items: center;overflow: auto;">
        <div style="width: 80%;height: 30vh;margin: auto;background-color: blueviolet;margin-bottom: 5px;">
            <img src="https://amelia.nyc3.digitaloceanspaces.com/fd41602a09bca0adfdd2_camisacrepe-mangalacinho.png" alt="">
        </div> 
        <div style="width: 80%;height: 30vh;margin: auto;background-color: #0ed522;margin-bottom: 5px">
            <img src="https://amelia.nyc3.digitaloceanspaces.com/9b1a3f0b401bfe0421bc_blazerlinho-comlapela.png" alt="">
        </div> 
        <div style="width: 80%;height: 30vh;margin: auto;background-color: yellow;margin-bottom: 5px">

        </div> 
        <div style="width: 80%;height: 30vh;margin: auto;background-color: blueviolet;margin-bottom: 5px">

        </div> 
        <div style="width: 80%;height: 30vh;margin: auto;background-color: #070708;margin-bottom: 5px">

        </div> 
         <div style="width: 80%;height: 30vh;margin: auto;background-color: yellow;margin-bottom: 5px">

        </div> 
        <div style="width: 80%;height: 30vh;margin: auto;background-color: #0ed522;margin-bottom: 5px">

        </div> 
  </div>
  <div style="width: 85%;height: 85vh;margin-right:2px;background-color: antiquewhite;display: flex;flex-direction: row;
              justify-content: space-between;">
        <div style="width: 10%;height: 85vh;margin: auto;background-color: #5e02ba;">

        </div>      
        <div style="width: 40%;height: 85vh;margin: auto;background-color: #cccccc;display: flex;flex-direction: row;">
             <div style="width: 6%;height: 80vh;margin: auto;background-color: #ffffff;display: flex;
                         flex-direction: column;justify-items: center;">
                         {{!-- // Essa divisão contén a seta => --}}
                         <div style="width: 80%;height: 25px;margin: auto;background-color: #f4310a;display: flex;
                                 flex-direction: column;justify-content: center;">
                          <label><</label>
                         </div>
              </div>     
              <div style="width: 80%;height: 80vh;margin: auto;background-color: #ffffff;padding:1%;display: flex;
                          flex-direction: column;align-items: center;justify-content: space-around;">
                     <img src="https://amelia.nyc3.digitaloceanspaces.com/fd41602a09bca0adfdd2_camisacrepe-mangalacinho.png" alt=""
                          style="width: 100%;height: auto;">
              </div>
              <div style="width: 6%;height: 80vh;margin: auto;background-color: #ffffff;display: flex;
                         flex-direction: column;justify-items: center;">
                         <div style="width: 80%;height: 25px;margin: auto;background-color: #f4310a;display: flex;
                                 flex-direction: column;justify-content: center;">
                          <label>></label>
                         </div>
              </div>
            </div>
         
                 
        <div style="width: 40%;height: 85vh;margin: auto;background-color: #ffffff;display: flex;flex-direction: column;justify-content: flex-start;">
              <div style="width: 95%;height: 10vh;margin: auto;align-items: center;background-color: #ffffff;text-align: center;">
                        <h3>descrição</h3>
                        <h5>descrição</h5>
              </div>
              <div style="width: 95%;height: 10vh;margin: auto;align-items: center;background-color: #d1ae04;color:#ffffff">
                        <h2>cores</h2>
              </div>
              <div style="width: 95%;height: 10vh;margin: auto;align-items: center;background-color: #01601f;color:#ffffff">
                        <h2>tamanho</h2>
              </div>
              <div style="width: 95%;height: 10vh;margin: auto;align-items: center;background-color: #013c73;color:#ffffff">
                        <h2 style="font-size: small;">guia medidas</h2>
              </div>
              <div style="width: 95%;height: 10vh;margin: auto;align-items: center;background-color: #cccccc;display: flex;flex-direction: row;align-items: center;">
                        <button style="width: 60%;height: 5vh;margin: auto;background-color: #b604b6;color:#ffffff;border-radius: 6px;">adicionar carrinho</button>
              </div>
              <div style="width: 95%;height: 10vh;margin: auto;align-items: center;background-color: #d1ae04;">
                       <h3>descrição</h3>
              </div>
              <div style="width: 95%;height: 10vh;margin: auto;align-items: center;background-color: #ffffff;border: #b604b6 1px solid;display: flex;
                           flex-direction:co row;align-items: center;">
                       <h6 style="font-size: smaller;">descrição</h6>
                       <h6 style="font-size: smaller;">composição</h6>
              </div>
        </div>
       
  </div>
</div>