<nav id="sidebar" class="sidebar">
    <div class="lateral" style="background-color: #ffffff;height: 50vh;padding-bottom: 2vh;margin-top: 4vh;">
        <h1 style="font-size: larger;color: #325b80;font-size:2em ;padding-bottom: 2vh;" >artigos</h1>
        <div id="lateral_Artigo" class="sidebar_artigo">
            <ul id="goArtigo" class="go_artigo" >
            {{!--quando clicamos aqui vamos buscar a página corresponde aos artigos focados. --}}
            </ul>
        </div>
    </div>
    <div class="lateral">
       <h1 ></h1>
       <ul >
       </ul>
    </div>
    <div class="lateral">
        <h1></h1>
        <ul >
            {{!-- <li >x-pequeno</li>
            <li >pequeno</li>
            <li >pequeno</li>
            <li >médio</li>
            <li >grande</li>
            <li >big</li> --}}
        </ul>
    </div>
</nav>

