 {{!Esse form é o cabeçalho da HOME}}
 <nav class="painelFixo titulo-main" style="background-color:#033c87;">
        <div class="barraHome" >
            <div class="barraHomeLogo" >
                <a href="/">
                    <img id="imgHome"  src="/images/logo_dois.png" class="logo" style="border-radius: 6px;width:100%;">
                </a>
            </div>
            <div class="barraHomeEspaco1" >
                <div style="display: flex;justify-content: center;align-items: center;padding: 5px;">
                
                </div>
            </div>
            {{!-- <div id="segmento" class="barraHomeEspaco2" >
                    <div style="display:flex;justify-content: center;align-items: center;margin-left:2px;margin-right:2px;">
                       
                    </div>
            </div> --}}
            <div class="" >
                    {{!-- <div class="" style="width: 30%;display: flex; flex-direction: row;justify-content:right;align-items: center;background-color:transparente;height:2.5rem;float: right;">
                          <div style="display: flex;align-items:flex-start;padding: 5px;background-color: #033c87;height:2.7rem;">
                            <label style="margin-right: 10px;color:#ffffff;" >Busca</label>  
                          </div>  
                    </div>
                    <div style="width:40%;background-color: transparente">
                          <input type="text" widht='600;' placeholder="buscar item" style="float:left;padding-top: 2px;"><i class="fa fa-search" style="height: 2.4rem;width: 2.8rem;color:white;border:solid black 1px;background-color: black;border-radius:10px ;"></i>
                    </div> --}}
            </div>
        </div>
        {{!-- <div id="barraMenu" class="barraMenu" style="padding:2px">
            <a  id="zero-compras" class="active escolha" href="#home" style="">Compras/roupas</a> --}}
            {{!-- <a  id="zero-profissionais" class="active escolha" href="#home"> Profissionais serviços...</a>
            <a  id="zero-querotrabalhar" class="active escolha" href="#home"> Quero trabalhar...</a>
            <a  id="zero-turismo" class="active escolha" href="#home" style="width: 100%;"> Turismo...</a> --}}
            {{!-- <a  id="zero-nossaempresa" class="active escolha" href="#home"> Nossa empresa...</a>
            <a  id="zero-contato" class="active escolha" href="#home"> Contato...</a>
        </div> --}}
</nav>





