 <nav class="sidebar" style="background-color: #0292d4;margin-top: 6vh;">
        <ul class="list-unstyled">
            <li><a href="/dashboard/"><i class="fas fa-tachometer-alt"></i> Administração Central</a></li>
            <li>
                <a href="#submenu1" data-toggle="collapse">
                    <i class="fas fa-user"></i> Usuário
                </a>
                <ul id="submenu1" class="list-unstyled collapse">
                    <li><a href="listar.html"><i class="fas fa-users"></i> Usuários</a></li>
                    <li><a href="#"><i class="fas fa-key"></i> Nível de Acesso</a></li>
                </ul>
            </li>
            <li>
                <a href="#submenu2" data-toggle="collapse"><i class="fas fa-home"></i>Publicidade</a>
                <ul id="submenu2" class="list-unstyled collapse">
                    <li><a href="#"><i class="far fa-image"></i>Entrada - Home</a></li>
                    <li><a href="#"><i class="fas fa-briefcase"></i>Páginas</a></li>
                    {{!-- <li><a href="#"><i class="fas fa-film"></i>--</a></li>
                    <li><a href="#"><i class="fas fa-network-wired"></i>--</a></li> --}}
                </ul>
            </li>
             <li>
                <a href="#submenu3" data-toggle="collapse"><i class="fas fa-home"></i>Segmentos</a>
                <ul id="submenu3" class="list-unstyled collapse">
                    {{!-- <li><a href="/contato/segmento"><i class="fas fa-envelope-open-text"></i>Segmento</a></li> --}}
                    <li><a href="/centralseg/buscar-segmentos/A"><i class="fas fa-envelope-open-text"></i>Segmento</a></li>
                    <li><a href="/centralseg/buscar-segmentos/B"><i class="fas fa-envelope-open-text"></i>Segmento_sub</a></li>
                    <li><a href=""><i class="fas fa-envelope-open-text"></i>Lista segmentos/Edição</a></li>
                     {{!-- <li><a href="/contatoinfo/vis-contatoinfo"><i class="fas fa-tools"></i>----</a></li> --}}
                </ul>    
            </li>   
             <li>
                <a href="#submenu4" data-toggle="collapse"><i class="fas fa-home"></i>Fornecedores</a>
                <ul id="submenu4" class="list-unstyled collapse">
                    {{!-- <li><a href="/contato/segmento"><i class="fas fa-envelope-open-text"></i>Segmento</a></li> --}}
                    <li><a href="/mnfornec/fornec"><i class="fas fa-envelope-open-text"></i>Cadastro?</a></li>
                    <li><a href="#"><i class="fas fa-envelope-open-text"></i>Pesquisa</a></li>
                    <li><a href="#"><i class="fas fa-envelope-open-text"></i>Lista</a></li>
                     {{!-- <li><a href="/contatoinfo/vis-contatoinfo"><i class="fas fa-tools"></i>----</a></li> --}}
                </ul>    
            </li>    
             <li>
                <a href="#submenu5" data-toggle="collapse"><i class="fas fa-home"></i>Cooperados</a>
                <ul id="submenu5" class="list-unstyled collapse">
                    {{!-- <li><a href="/contato/segmento"><i class="fas fa-envelope-open-text"></i>Segmento</a></li> --}}
                    <li><a href="/centrallj/cadastro-lojista"><i class="fas fa-envelope-open-text"></i>Cadastro</a></li>
                    <li><a href="#"><i class="fas fa-envelope-open-text"></i>Adicionado segmento</a></li>
                    <li><a href="/centrallj/lista-lojista"><i class="fas fa-envelope-open-text"></i>Lista</a></li>
                     {{!-- <li><a href="/contatoinfo/vis-contatoinfo"><i class="fas fa-tools"></i>----</a></li> --}}
                </ul>    
            </li> 
             <li>
                <a href="#submenu6" data-toggle="collapse"><i class="fas fa-home"></i>Produto</a>
                <ul id="submenu6" class="list-unstyled collapse">
                    {{!-- <li><a href="/contato/segmento"><i class="fas fa-envelope-open-text"></i>Segmento</a></li> --}}
                    <li><a href="/produto/listfornecImport"><i class="fas fa-envelope-open-text"></i>Importação de lista</a></li>
                    {{!-- <li><a href="#"><i class="fas fa-envelope-open-text"></i>Pesquisa</a></li> --}}
                    <li><a href="/produto/lista-produto"><i class="fas fa-envelope-open-text"></i>Lista-produto</a></li>
                     {{!-- <li><a href="/contatoinfo/vis-contatoinfo"><i class="fas fa-tools"></i>----</a></li> --}}
                </ul>    
            </li> 
            <li><a href="/"><i class="fas fa-tachometer-alt"></i> Site</a></li>
            <li><a href="/usuario/logout"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
        </ul>
</nav>