<body style="background-color:#aa7db1 ;padding: 2%;">
    <div style="width: 90%;height: 90vh;margin: auto;display: flex;flex-direction: column;justify-content: center;align-items: center;background-color:#066886;margin-top: 6.9vh;">
            <p style="font-size: larger;color:#ffffff;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">Cadastrando produto avulso</p>
    </div>
</body>