<body style="background-color:#12213f ;">
      <div style="width: 90%;height: 90vh;margin: auto;display: flex;flex-direction: column;justify-content: center;align-items: center;background-color:#11395e;margin-top: 6.9vh;">
            <p style="font-size:2rem;color:#ffffff;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">listando fornecedores do lojista</p>
    </div>

</body>