<div class="d-flex" style="width: 90%;height: 90vh;margin: auto;background-color: blueviolet;">
    <div style="width: 80%;height: 35vh;margin: auto;background-color: blue;color:#ffffff;display: flex;flex-direction: row;justify-content:space-around;padding: 12px;">
              <div style="width: 95%;height: 6vh;margin: auto;background-color: gray;color:#ffffff">
                 <Label>Preencha o formulário :</Label>
              </div>
              <div style="width: 40%;height: 27vh;margin: auto;background-color: #06a32b;display: flex;flex-direction: column;justify-items:auto ;">
                    <label style="margin-left: 10%;height: 2.5vh;">nome :</label>
                    <label style="margin-left: 10%;height: 2.5vh;">cep :</label>
                     <label style="margin-left: 10%;height: 2.5vh;">rua/avenida :</label>
                     <label style="margin-left: 10%;height: 2.5vh;"> n º :</label> 
                    <label style="margin-left: 10%;height: 2.5vh;"> cidade :</label> 
                    <label style="margin-left: 10%;height: 2.5vh;"> bairro :</label> 
                    <label style="margin-left: 10%;height: 2.5vh;"> Estado :</label>
              </div>
              <div style="width: 60%;height: 27vh;margin: auto;background-color: gray;display: flex;flex-direction: column;justify-items:auto ;">
                    <input style="margin-left: 2px;height: 3.5vh;" value="" placeholder="nome">
                    <input style="margin-left: 2px;height: 3.5vh;" value="" placeholder="cep">
                    <input style="margin-left: 2px;height: 3.5vh;" value="" placeholder="rua/avenida">
                    <input style="margin-left: 2px;height: 3.5vh;" value="" placeholder="n º">
                    <input style="margin-left: 2px;height: 3.5vh;" value="" placeholder="cidade">
                    <input style="margin-left: 2px;height: 3.5vh;" value="" placeholder="bairro">
                    <input style="margin-left: 2px;height: 3.5vh;" value="" placeholder="Estado">
                    {{!-- <select style="margin-left: 2px;height: 3.5vh;">
                        <option>arquiteto</option>
                        <option>engenheiro</option>
                        <option>projetista</option>
                        <option>usuário</option>
                    </select> --}}
              </div>
         </div>
</div>