<style>
.corpo{
    width: 95%;height: 90vh;margin: auto;
    display: flex;flex-direction: column;justify-content: space-between;
    background-color:white ;
}

.base{
   width: 80%;height: 85vh;margin: auto;
   background-color:white;
   padding-top: 5px;
   padding-bottom: 20px;
   display: flex;
   flex-direction: column;
   justify-items: center;
   justify-content: space-between;
}

.base div{
    width: 90%;height: 7vh;margin: auto;
    background-color:transparent;
    margin-bottom: 10px;text-align: center;
    display: flex;flex-direction: row;justify-content: space-around;
}

.btn{
    width: 60%;height: 8vh;margin: auto;
    background-color: #023dac;
    border-radius: 6px;
    font-size: 2vw;
    
    text-align: center;
}

.btn a{
    text-decoration: none;
    color: #ffffff;
}
</style>


<div class="d-flex corpo" >
   <div class="base">
       <div>
         <button class="btn"><a href="/produto/boxLeft" >box lateral esquerdo</a></button>
       </div>
        <div>
         <button class="btn"><a href="/produto/boxRight">box lateral direito</a></button>
       </div>
       <div>
         <button class="btn"><a href="/produto/boxBottom">box lateral em baixo</a></button>
       </div>
       <div>
         <button class="btn"><a href="/produto/boxTeto">box no teto</a></button>
       </div>
       <div>
         <button class="btn"><a href="/produto/boxSuspensoAnexo">box suspenso anexo</a></button>
       </div>
        <div>
         <button class="btn"><a href="/produto/distribuicaoTeto">distribuicao teto</a></button>
       </div>
       <div>
         <button class="btn"><a href="/produto/distribuicao">05 - distribuição</a></button>
       </div>
       <div>
         <button class="btn"><a href="/produto/distribuicaoError">06 - distribuição error</a></button>
       </div>
       <div>
         <button class="btn"><a href="/produto/distribuicao-dupla">07 - distribuição dupla</a></button>
       </div>
       <div>
         <button class="btn"><a href="/produto/eletrica">08 - rede elétrica</a></button>
       </div>
   </div>

</div>