<div class="d-flex" style="padding:20px;">
 <canvas style="width: 800px;height: 400px;background-image:url('https://amelia.nyc3.digitaloceanspaces.com/441204576f30d47cdd7e_doisbanheiros.png');background-repeat: no-repeat;background-size: cover;margin:auto;border: red 2px solid;"></canvas>

</div>
<script>

     const canvas=document.querySelector("canvas");

    const ctx= canvas.getContext('2d');

    canvas.width=1024;
    canvas.height=576;
   

class ponto {
       constructor(start,end,position){
        console.log(start)
       // this.start.x,
         this.start=position,
         this.end=position
        }       

       draw(){
        // console.log(start)
          ctx.beginPath()
         // desenha linha verde
          ctx.moveTo(this.start.x,this.start.y);
          ctx.lineTo(this.end.x,end.y);

          ctx.strokeStyle=line.strokeStyle;
          ctx.lineWidth=line.lineWidth;
          ctx.lineCap='round'
          ctx.stroke();
       }
}

const point=new ponto({
      start:{
        x:100,
        y:100
      },
     end:{
        x:100,
        y:200
      },
      lineWidth:50,
      strokeStyle:'blue',
      lineCap:'round',
}) 

    point.draw()
 
    function animate(){
        window.requestAnimationFrame(animate)
        //c.clearRect(0,0,canvas.width,canvas.height) // limpa as posições
        ctx.fillStyle="violet"
       // c.fillRect(0,0,canvas.width,canvas.height)
        draw()
        

      //  ponto.start.x=0

      //  if (keys.a.pressed && lastKey ==='a'){
      //      player.velocity.x=-1
      //  }else if (keys.d.pressed && lastKey==='d'){
      //     player.velocity.x=1
      //  }
    }

    animate()
</script>