   
<div class="star">
        <div class="container-up">
                <label style="margin: 10px 0px;color: white;margin-bottom: 15px;">Selecione a nota de entrada:</label><br>
                <form method="POST" enctype="multipart/form-data" action="/compra/e_nota">
                    <input type="file" id="file" name="file" class="upload-box" >
                    <button type="submit" onclik="">Transferir arquivo</button>
                </form>
        </div>      
           
</div> 
    
